@import '../../styles/vars';

.title {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacingLarge);
  padding: var(--spacingMedium) 0;
  border: 1px solid currentColor;
  line-height: 1.6;

  & .logo {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: var(--spacingMedium);
  }
}
