@import '../../styles/vars';

.venue {
  display: flex;
  padding: var(--spacingMedium);

  & .content {
    flex-grow: 1;
  }

  & .header {
    display: flex;
  }

  & .name {
    flex-grow: 1;
    font-size: var(--fontSizeMedium);
    line-height: 1;
    margin-bottom: var(--spacingSmall);
  }

  & .icon-wrapper {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: teal;
    margin-right: var(--spacingMedium);
    align-self: center;
    flex-shrink: 0;
  }

  & .icon {
    width: 60%;
    height: 60%;
    margin: 20%;
  }

  & .approx-time {
    display: block;
  }

  & .address {
    display: block;
    color: #aaa; /* TODO colors */
  }

  & .rating-wrapper {
    margin-bottom: var(--spacingExtraSmall);
  }
}
